/* || Font Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* _ */

/* || Grid Container Styling */

.spot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.spot-grid-wrapper {
  display: flex;
  justify-content: center;
  padding: 15px ;
}

/* _ */

/* || Spot Card Styling */

.spot-card {
  max-width: 100%;
  height: 400px;
  box-sizing: border-box;
}

/* _ */