/*----------------------------*/
/*   Navigation.jsx Styling   */
/*----------------------------*/
/* These styles are for the Logo and User Menu */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  margin: 0;
}

.navbar__logo {
  color: #ff5a5f;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.navbar__item {
  margin-left: 1rem;
}

.navbar__item a,
.navbar__item button {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.navbar__item a:hover,
.navbar__item button:hover {
  background-color: #f2f2f2;
}
.navbar__auth {
  display: flex;
  gap: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.navbar__create-link {
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  margin-right: .5rem;
}

.navbar__create-link:hover {
  background-color: #e0484d;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}


/*-----------------------------*/
/*  ProfileButton.jsx Styling  */
/*-----------------------------*/
/* These styles are for the dropdown menu and the contents within */

.profile-icon {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: #1b1b1b;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-dropdown {
  position: absolute;
  top: 140%;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.profile-dropdown li {
  font-size: 1rem;
  text-align: center;
  color: #1b1b1b;
  cursor: pointer;
  border-radius: 6px;
}

.profile-dropdown button {
  width: 100%;
  height: 35px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.profile-dropdown a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 6px;
  background-color: #ff5a5f;
  color: white;
  text-decoration: none;
  text-align: center;
}

/*----------------------------*/
/*       Shared Styling       */
/*----------------------------*/
.hidden {
  display: none;
}
