.navbar {
 align-items: center;
 display: flex;
 padding: 12px 24px;
 background-color: #F6E8EA;
 justify-content: space-between;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.navbar li {
  color: #22181C;
}

.navbar a {
  color: #22181C;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  text-decoration: underline;
}

.profile-dropdown.hidden {
  display: none;
}